<div class="bjui-pageHeader">
    <form id="pagerForm" data-toggle="ajaxsearch" action="{:U(ACTION_NAME)}" method="post">
        <input type="hidden" name="pageSize" value="{$Think.session.pageSize}">
        <input type="hidden" name="pageCurrent" value="{$Think.session.pageCurrent}">
        <input type="hidden" name="orderField" value="{$Think.session.orderField}">
        <input type="hidden" name="orderDirection" value="{$Think.session.orderDirection}">
        <div class="bjui-searchBar">
            <label>数据库中共有{$tables}张表，共计{$total}</label>
            <div class="pull-right">
                <div class="btn-group">
                    <button type="submit" class="btn-default" data-icon="search">备份所选</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="bjui-pageContent">
    <!-- 内容区 -->
    <form>
        <table data-toggle="tablefixed" data-width="100%" data-nowrap="true">
            <thead>
                <tr>
                    <th width="90">
                        <label>
                            <input name="" class="chooseAll" type="checkbox" />全选</label>
                        <label>
                            <input name="" class="unsetAll" type="checkbox" />反选</label>
                    </th>
                    <th>表名</th>
                    <th>表用途</th>
                    <th>记录行数</th>
                    <th>引擎类型</th>
                    <th>字符集</th>
                    <th>表大小</th>
                </tr>
            </thead>
            <tbody>
                <volist name="list" id="tab">
                    <tr>
                        <td>
                            <input type="checkbox" name="table[]" value="{$tab.Name}" />
                        </td>
                        <td align="left">{$tab.Name}</td>
                        <td>{$tab.Comment}</td>
                        <td>{$tab.Rows}</td>
                        <td>{$tab.Engine}</td>
                        <td>{$tab.Collation}</td>
                        <td>{$tab.size}</td>
                    </tr>
                </volist>
                    <tr>
                        <th width="90">
                            <label>
                                <input name="" class="chooseAll" type="checkbox" />全选</label>
                            <label>
                                <input name="" class="unsetAll" type="checkbox" />反选</label>
                        </th>
                        <th>表名</th>
                        <th>表用途</th>
                        <th>记录行数</th>
                        <th>引擎类型</th>
                        <th>字符集</th>
                        <th>总计：{$total}</th>
                    </tr>
            </tbody>
        </table>
    </form>
</div>

<script type="text/javascript">
    $(function() {
        clickCheckbox();
        $(".submit").click(function() {
            if ($("tbody input[type='checkbox']:checked").size() == 0) {
                popup.alert("请先选择你要备份的数据库表吧");
                return false;
            }
            if ($(this).attr("disabledSubmit")) {
                popup.alert("已提交，系统在处理中...");
            } else {
                $(this).attr("disabledSubmit", true).html("提交处理中...");
                ajaxSubmit("__URL__/backup");
                //                        popup.alert("系统处理中，如果数据库中数据较多可能需要较长时间，请稍候....");
                setTimeout(function() {
                    popup.close("asyncbox_alert");
                }, 2000);
            }
        });
    });
</script>
