<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="keywords" content="{$articleDetail.keywords}" />
<meta name="description" content="{$articleDetail.summary}" />
<link href="{:C('STATIC_PATH')}Plugins/BJUI/themes/css/bootstrap.min.css" rel="stylesheet">
<link href="{:C('STATIC_PATH')}Plugins/BJUI/themes/css/FA/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="__TMPL__Public/Css/sb-admin-2.css" />
<link rel="stylesheet" type="text/css" href="__TMPL__Public/Css/base.css" />
<!--[if lte IE 9]>
    <script src="{:C('STATIC_PATH')}Plugins/BJUI/other/html5shiv.min.js"></script>
    <script src="{:C('STATIC_PATH')}Plugins/BJUI/other/respond.min.js"></script>
<![endif]-->
<script src="{:C('STATIC_PATH')}Plugins/BJUI/js/jquery-1.7.2.min.js"></script>
<script src="{:C('STATIC_PATH')}Plugins/BJUI/plugins/bootstrap.min.js"></script>
<script src="{:C('STATIC_PATH')}Plugins/jquery/plugins/jquery.imgAutoSize.js"></script>
<script src="__PUBLIC__/Js/functions.js"></script>
<script>
    $(function ($) {
        $('.panel-body').imgAutoSize(30);
        $('.thumbnail').imgAutoSize(30);
    });
</script>