# Apache的rewrite重写规则，使用前请开启rewrite模块

<IfModule mod_rewrite.c>
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^article-(.*)$ index.php/Home/Article/detail/id/$1 [L,NC]

RewriteRule ^index-(.*)-(.*)-(.*).html$ index.php/Home/Article/index/pid/$1/cid/$2/p/$3 [L,NC]
RewriteRule ^index-(.*)-(.*).html$ index.php/Home/Article/index/pid/$1/cid/$2 [L,NC]
RewriteRule ^index-(.*).html$ index.php/Home/Index/index/p/$1 [L,NC]

RewriteRule ^page-(.*).html$ index.php/Home/Article/page/cid/$1 [L,NC]

# 兼容原URL
RewriteRule ^Article/(.*)$ index.php/Article/$1 [L,NC]
# 后台登陆
RewriteRule ^Admin$ index.php?m=Admin&c=Public&a=index [L,NC]

</IfModule>