<!DOCTYPE html>
<html lang="zh-cn">
    <head>
    <include file="Common:intoHead"/>
    <link rel="Stylesheet" type="text/css" href="{:C('STATIC_PATH')}Plugins/kindeditor/plugins/code/prettify.css" />
    <!--Custom Style-->
    <link rel="Stylesheet" type="text/css" href="__TMPL__Public/Css/style.css" />

    <script type="text/javascript"  src="{:C('STATIC_PATH')}Plugins/kindeditor/plugins/code/prettify.js"></script>
    <title>{$articleDetail.title}</title>
</head>

<body>
<!-- 头部 -->
<include file="Common:header" />
<!-- /头部 -->

<!-- 主体 -->
<div id="main-container" class="container" style="padding-top:70px">
    <div class="col-md-3 col-sm-12">
        <!--左侧文章作者信息 Start -->
        <include file="Article:leftinfo" />
        <!--左侧文章作者信息 End -->
    </div>

    <div class="col-md-9 col-sm-12">
        <!-- Contents ================================================== -->
        {:W('Channel/linkMenu')}

        <section id="contents">
            <div class="page-header">
                <h1> {$articleDetail.title}</h1>
            </div>
            <div class="action">
                <span>
                    <a href="/Article/lists/category/jquery.html">
                        <i class="fa fa-book"></i> jQuery框架
                    </a>
                </span>
                <span><a href="/User/1.html"><i class="fa fa-user"></i> {$articleDetail.cat_id|getChannelNameByCid}</a></span>
                <span><i class="fa fa-clock-o"></i> {$articleDetail.uTime|timeFormat}</span>
                <span><i class="fa fa-eye"></i>{$articleDetail.click}次浏览</span>
            </div>
            <div class="panel-body">
                <p>{$articleDetail.content}</p>
            </div>

            <div style="padding-bottom: 10px;color: #999;">
                <span><i class="fa fa-eye"></i>
                    {$front}
                </span>
            </div>
            <div style="padding-bottom: 10px;color: #999;">
                <span><i class="fa fa-eye"></i>
                    {$after}
                </span>
            </div>

        </section>
        <hr/>

        <!-- Duoshuo Comment BEGIN -->
        <div class="ds-thread" data-form-positon="top" data-limit="10" data-order="desc"></div>
        <script type="text/javascript">
            var duoshuoQuery = {
                short_name: "xiace"
            };
            (function() {
                var ds = document.createElement('script');
                ds.type = 'text/javascript';ds.async = true;
                ds.src = 'http://static.duoshuo.com/embed.js';
                ds.charset = 'UTF-8';
                (document.getElementsByTagName('head')[0]
                || document.getElementsByTagName('body')[0]).appendChild(ds);
            })();
        </script>
        <!-- Duoshuo Comment END -->

        <!--<p></p>-->
        <!--<div class="clearfix"></div>-->
        <!--<p></p>-->

        <!-- UY BEGIN -->
        <!--<div id="uyan_frame"></div>-->
        <!--<script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=1867659"></script>-->
        <!-- UY END -->
    </div>

    </div>
</div>

<include file="Common:footer" />
<script>
    jQuery(document).ready(function(){
        jQuery(window).load(function(){
            prettyPrint();
        });
    })
    $(function () {
        $(window).resize(function () {
            $("#main-container").css("min-height", $(window).height() - 343);
        }).resize();
    })
</script>

</body>
</html>