<div class="panel panel-default">
    <div class="panel-body" style="background: url('__TMPL__Public/Img/user-bg.jpg'); background-size:100% 120px; background-repeat:no-repeat;">
        <div class="user">
            <a href="/User/1.html" title="" data-toggle="tooltip" data-original-title="点击修改头像">
                <img class="avatar" src="__TMPL__Public/Img/noavatar_small.gif" alt="头像">
            </a>
            <h1>小策1</h1>
            <p></p>
            <ul class="stat">
                <li>财富值<h3>25</h3></li>
                <li>威望值<h3>0</h3></li>
                <li>总积分<h3>35</h3></li>
            </ul>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title"><i class="fa fa-user fa-fw"></i> 作者信息</h2>
        <span class="pull-right"><a class="btn btn-xs" href="/User/1.html" title="" data-toggle="tooltip" data-original-title="帐户设置"><i class="fa fa-cog"></i> </a></span>
    </div>
    <div class="panel-body">
        <ul class="user-info">
            <li><i class="fa fa-calendar fa-fw"></i> 呢称：小策</li>
            <li><i class="fa fa-calendar fa-fw"></i> 注册日期：2016-06-30 21:56</li>
            <li><i class="fa fa-sign-in fa-fw"></i> 最后登录：2016-07-04 08:58</li>
            <li><i class="fa fa-clock-o fa-fw"></i> 在线时长：1小时34分</li>
            <li><i class="fa fa-map-marker fa-fw"></i> 个人主页：60</li>
            <li><i class="fa fa-envelope-o fa-fw"></i>  arenzhj@163.com </li>
            <!--<li><i class="fa fa-group fa-fw"></i> </li>-->
            <ul></ul>
        </ul>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title"><i class="fa fa-user fa-fw"></i>文章分类</h2>
        <span class="pull-right"><a class="btn btn-xs" href="/User/1.html" title="" data-toggle="tooltip" data-original-title="帐户设置"><i class="fa fa-cog"></i> </a></span>
    </div>
    <div class="panel-body">
        <ul class="user-info">
            <li><i class="fa fa-calendar fa-fw"></i>文学类</li>
            <li><i class="fa fa-calendar fa-fw"></i>c#</li>
            <li><i class="fa fa-sign-in fa-fw"></i>Java</li>
            <li><i class="fa fa-clock-o fa-fw"></i>美食</li>
        </ul>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title"><i class="fa fa-user fa-fw"></i>社区板块</h2>
        <span class="pull-right"><a class="btn btn-xs" href="/User/1.html" title="" data-toggle="tooltip" data-original-title="帐户设置"><i class="fa fa-cog"></i> </a></span>
    </div>
    <div class="panel-body">
        <ul class="user-info">
            <li><i class="fa fa-calendar fa-fw"></i>我的资讯</li>
            <li><i class="fa fa-calendar fa-fw"></i>我的论坛</li>
            <li><i class="fa fa-sign-in fa-fw"></i>我的回答</li>
        </ul>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title"><i class="fa fa-user fa-fw"></i>归档分类</h2>
        <span class="pull-right"><a class="btn btn-xs" href="/User/1.html" title="" data-toggle="tooltip" data-original-title="帐户设置"><i class="fa fa-cog"></i> </a></span>
    </div>
    <div class="panel-body">
        <ul class="user-info">
            <li><i class="fa fa-calendar fa-fw"></i>2016-08</li>
            <li><i class="fa fa-calendar fa-fw"></i>2016-07</li>
            <li><i class="fa fa-sign-in fa-fw"></i>更多归档...</li>
        </ul>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title"><i class="fa fa-user fa-fw"></i>评论排行榜</h2>
        <span class="pull-right"><a class="btn btn-xs" href="/User/1.html" title="" data-toggle="tooltip" data-original-title="帐户设置"><i class="fa fa-cog"></i> </a></span>
    </div>
    <div class="panel-body">
        <ul class="user-info">
            <li><i class="fa fa-calendar fa-fw"></i>第一个文章...</li>
            <li><i class="fa fa-calendar fa-fw"></i>第二个文章...</li>
            <li><i class="fa fa-sign-in fa-fw"></i>第三个文章...</li>
        </ul>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title"><i class="fa fa-user fa-fw"></i>最新评论</h2>
        <span class="pull-right"><a class="btn btn-xs" href="/User/1.html" title="" data-toggle="tooltip" data-original-title="帐户设置"><i class="fa fa-cog"></i> </a></span>
    </div>
    <div class="panel-body">
        <ul class="user-info">
            <li><i class="fa fa-calendar fa-fw"></i>第一个文章...</li>
            <li><i class="fa fa-calendar fa-fw"></i>第二个文章...</li>
            <li><i class="fa fa-sign-in fa-fw"></i>第三个文章...</li>
        </ul>
    </div>
</div>