<ol class="breadcrumb">
	<li><a href="/"><i class="fa fa-home fa-fw"></i>网站首页</a></li>
	<volist name="linkMenu" id="vo">
	  <li><a href="{$vo.link}">{$vo.name}</a></li>
	</volist>
	<span class="pull-right">
		<php>
		if(strstr($_SERVER['REQUEST_URI'],"article-")){
			echo $articleDetail["cacheInfo"];
		} else if(strstr($_SERVER['REQUEST_URI'],"index-")){
			echo $articleList["cacheInfo"];
		} else if(strstr($_SERVER['REQUEST_URI'],"page-")){
			echo $channelDetail["cacheInfo"];
		}
		</php>
	</span>
</ol>