<!DOCTYPE html>
<html lang="zh-cn">
    <head>
    <include file="Common:intoHead"/>
    <link href="{:C('STATIC_PATH')}Plugins/jquery/plugins/SuperSlide/style.css" rel="stylesheet">
    <script src="{:C('STATIC_PATH')}Plugins/jquery/plugins/SuperSlide/jquery.SuperSlide.2.1.js"></script>
    <title>{:C('siteName')}</title>
    <link href="{:C('STATIC_PATH')}Plugins/bootstrap3/css/bootstrap.css" rel="stylesheet">
    <link href="{:C('STATIC_PATH')}Plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="{:C('STATIC_PATH')}Plugins/kindeditor/plugins/code/prettify.css" rel="stylesheet">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="{:C('STATIC_PATH')}Plugins/bootstrap3/js/html5shiv.js"></script>
    <![endif]-->


</head>
<body>
<include file="Common:header" />

<div class="container " style="margin-top:80px;">

    <div class="row">

        <div class="col-md-8">

            <div class="foucebox" style="margin:0 auto">
                    <!-- 大图 -->
                    <div  class="bd">
                        <volist name="thumbnailList" id="tVo">
                            <div  class="showDiv">
                                <h2><a href="/article-{$tVo.cid}-{$tVo.id}.html">{$tVo.title}</a></h2>
                                <a href="/article-{$tVo.cid}-{$tVo.id}.html"><img src="{$tVo.thumbnail}" ></a>
                                <div class="foucebox_bg"></div>
                                <div>
                                    <h2><a href="/article-{$tVo.cid}-{$tVo.id}.html">{$tVo.title}</a></h2>
                                    <p>{$tVo.summary}</p>
                                </div>
                            </div>
                        </volist>
                    </div>
                    <!-- 小图 -->
                    <div class="hd">
                        <ul>
                            <volist name="thumbnailList" id="tVo">
                                <li><a href="/article-{$tVo.cid}-{$tVo.id}.html"><img src="{$tVo.thumbnail}"><span class="txt">{$tVo.title}</span><span class="txt_bg"></span><span class="mask"></span></a></li>
                            </volist>
                        </ul>
                    </div>
            </div>
            <script type="text/javascript">
                jQuery(".foucebox").slide({ effect:"fold", autoPlay:true, delayTime:300, startFun:function(i){
                        //下面代码控制文字显示
                        jQuery(".foucebox .showDiv").eq(i).find("h2").css({display:"none",bottom:0}).animate({opacity:"show",bottom:"60px"},300);
                        jQuery(".foucebox .showDiv").eq(i).find("p").css({display:"none",bottom:0}).animate({opacity:"show",bottom:"10px"},300);
                    }
                });
            </script>

            <p></p>

            <ul id="myTab" class="nav nav-tabs">
                <volist name="articlehottypes" id="articlehottype"  key='k'>
                    <li <if condition="$k == 1">class="active"</if>  >
                        <a href="#{$articlehottype.id}"  data-toggle="tab"  >
                            {$articlehottype.name}
                        </a>
                    </li>
                </volist>
            </ul>
            <div id="myTabContent" class="tab-content">
                <volist name="articlehottypes" id="articlehottype" key='k'>
                        <div <if condition="$k == 1">class="tab-pane fade in active" <else/> class="tab-pane fade"</if>  id="{$articlehottype['id']}">
                            <div class="list-group">
                                <volist name="articlehottype['articles']" id="articlehot"  key='n'>
                                    <a href="/article-1-1.html" class="list-group-item"><span class="fa fa-th-list b-black"></span>  {$articlehot.title|cutStr="38"}</a>
                                </volist>
                            </div>
                        </div>
                </volist>
            </div>

            <p></p>

            <!--<div class="row">-->
                <!--<volist name="topCate" id="vo">-->
                    <!--<div class="col-md-12">-->
                        <!--<div class="panel panel-primary">-->
                            <!--<div class="panel-heading">-->
                                <!--<h4 class="panel-title">-->
                                    <!--<i class="fa fa-fire"></i>-->
                                    <!--<a href="/index-{$vo.fid}-{$vo.cid}.html">{$vo.name}</a>-->
                                <!--</h4>-->
                            <!--</div>-->
                            <!--<div class="list-group">-->
                                <!--<volist name="vo.article" id="articleVo">-->
                                    <!--<a href="/article-{$articleVo.cid}-{$articleVo.id}.html" class="list-group-item"><span class="fa fa-th-list b-black"></span>  {$articleVo.title|cutStr="28"}</a>-->
                                <!--</volist>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</volist>-->
            <!--</div>-->

        </div>

        <div class="col-md-4 col-sm-12">

            <form class="form-group" action="{:U('Article/search')}">
                <div class="form-group input-group">
                    <input type="text" name="keyWords" class="form-control" placeholder="请输入标题/内容关键词" value="{$_GET['kw']}">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default submit"><i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                </div>
            </form>

            <div class="panel panel-red">
                <div class="panel-heading"><h4 class="panel-title"><i class="fa fa-fire"></i>热门推荐</h4></div>
                <div class="list-group">
                    <list model="Article" fields="id,cid,title" limit="15" order="click DESC">
                        <a href="/article-{$cid}-{$id}.html" class="list-group-item"><span class="fa fa-th-list b-black"></span> {$title}</a>
                    </list>
                </div>
            </div>

            <div class="panel panel-warning">
                <div class="panel-heading"><h4 class="panel-title"><i class="fa fa-fire"></i>热门主题</h4></div>
                <div class="list-group">
                    <list model="Article" fields="id,cid,title" limit="15" order="click DESC">
                        <a href="/article-{$cid}-{$id}.html" class="list-group-item"><span class="fa fa-flag b-black"></span> {$title}</a>
                    </list>
                </div>
            </div>

        </div>
    </div>
</div>

<include file="Common:footer" />

</body>
</html>