<!DOCTYPE html>
<html lang="zh-cn">
    <head>
    <include file="Common:intoHead"/>
    <link href="{:C('STATIC_PATH')}Plugins/jquery/plugins/SuperSlide/style.css" rel="stylesheet">
    <script src="{:C('STATIC_PATH')}Plugins/jquery/plugins/SuperSlide/jquery.SuperSlide.2.1.js"></script>
    <title>{:C('siteName')}</title>
    <link href="{:C('STATIC_PATH')}Plugins/bootstrap3/css/bootstrap.css" rel="stylesheet">
    <link href="{:C('STATIC_PATH')}Plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="{:C('STATIC_PATH')}Plugins/kindeditor/plugins/code/prettify.css" rel="stylesheet">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="{:C('STATIC_PATH')}Plugins/bootstrap3/js/html5shiv.js"></script>
    <![endif]-->


</head>
<body>
<include file="Common:header" />

<div class="container " style="margin-top:80px;">

    <div class="row">

        <div class="col-md-8">

            <div class="foucebox" style="margin:0 auto">
                    <!-- 大图 -->
                    <div  class="bd">
                        <volist name="thumbnailList" id="tVo">
                            <div  class="showDiv">
                                <h2><a href="/article-{$tVo.cid}-{$tVo.id}.html">{$tVo.title}</a></h2>
                                <a href="/article-{$tVo.cid}-{$tVo.id}.html"><img src="{$tVo.thumbnail}" ></a>
                                <div class="foucebox_bg"></div>
                                <div>
                                    <h2><a href="/article-{$tVo.cid}-{$tVo.id}.html">{$tVo.title}</a></h2>
                                    <p>{$tVo.summary}</p>
                                </div>
                            </div>
                        </volist>
                    </div>
                    <!-- 小图 -->
                    <div class="hd">
                        <ul>
                            <volist name="thumbnailList" id="tVo">
                                <li><a href="/article-{$tVo.cid}-{$tVo.id}.html"><img src="{$tVo.thumbnail}"><span class="txt">{$tVo.title}</span><span class="txt_bg"></span><span class="mask"></span></a></li>
                            </volist>
                        </ul>
                    </div>
            </div>
            <script type="text/javascript">
                jQuery(".foucebox").slide({ effect:"fold", autoPlay:true, delayTime:300, startFun:function(i){
                        //下面代码控制文字显示
                        jQuery(".foucebox .showDiv").eq(i).find("h2").css({display:"none",bottom:0}).animate({opacity:"show",bottom:"60px"},300);
                        jQuery(".foucebox .showDiv").eq(i).find("p").css({display:"none",bottom:0}).animate({opacity:"show",bottom:"10px"},300);
                    }
                });
            </script>

            <p></p>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <i class="fa fa-fire"></i>
                        热门推荐
                    </h4>
                    <span class="pull-right" >
                        <a class="btn btn-xs" href="/Article/lists/jquery.html">更多»</a>
                    </span>
                </div>
                <div class="panel-body" style="padding:0px;">
                    <ul id="myTab" class="nav nav-tabs">
                        <volist name="topCate" id="vo"  key='k'>
                            <li <if condition="$k == 1">class="active"</if>  >
                            <a href="#{$vo.cid}-cat"  data-toggle="tab"  >
                                {$vo.name}
                            </a>
                            </li>
                        </volist>
                    </ul>
                    <div id="myTabContent" class="tab-content">
                        <volist name="topCate" id="vo"  key='k'>
                            <div <if condition="$k == 1">class="tab-pane fade in active" <else/> class="tab-pane fade"</if>  id="{$vo['cid']}-cat">
                                <div class="list-group">
                                    <volist name="vo.article" id="articleVo"  key='n'>
                                        <!--<a href="/article-{$articleVo.cid}-{$articleVo.id}.html" class="list-group-item"><span class="fa fa-th-list b-black"></span>  {$articleVo.title|cutStr="28"}</a>-->
                                        <a href="{:U('Home/Article/detail',array('cid'=>$articleVo['cid'],'id'=>$articleVo['id']))}" class="list-group-item"><span class="fa fa-th-list b-black"></span>  {$articleVo.title|cutStr="28"}</a>
                                    </volist>
                                </div>
                            </div>
                        </volist>
                    </div>
                </div>
            </div>
            <p></p>
        </div>

        <div class="col-md-4 col-sm-12">

            <form class="form-group" action="{:U('Article/search')}">
                <div class="form-group input-group">
                    <input type="text" name="keyWords" class="form-control" placeholder="请输入标题/内容关键词" value="{$_GET['kw']}">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default submit"><i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                </div>
            </form>

            <div class="panel panel-red">
                <div class="panel-heading"><h4 class="panel-title"><i class="fa fa-fire"></i>热门推荐</h4></div>
                <div class="list-group">
                    <list model="Article" fields="id,cid,title" limit="15" order="click DESC">
                        <a href="/article-{$cid}-{$id}.html" class="list-group-item"><span class="fa fa-th-list b-black"></span> {$title|cutStr="28"}</a>
                    </list>
                </div>
            </div>

            <div class="panel panel-warning">
                <div class="panel-heading"><h4 class="panel-title"><i class="fa fa-fire"></i>热门主题</h4></div>
                <div class="list-group">
                    <list model="Article" fields="id,cid,title" limit="15" order="click DESC">
                        <a href="/article-{$cid}-{$id}.html" class="list-group-item"><span class="fa fa-flag b-black"></span> {$title|cutStr="28"}</a>
                    </list>
                </div>
            </div>

        </div>
    </div>
</div>

<include file="Common:footer" />

</body>
</html>