<ul class="nav navbar-nav b-nav-parent">
    <li class="hidden-xs b-nav-mobile"></li>
    <volist name="cate" id="vo">
         <php>if(is_array($vo['child'][0])){</php>
         <li class="dropdown">
             <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="{$vo.name}">{$vo.name}<span class="caret"></span></a>
             <ul class="dropdown-menu">
                 <php>foreach($vo['child'] as $childKey=>$childValue){</php>
                 <li>{$childValue.link}</li>
                 <php>}</php>
             </ul>
         </li>
         <php>}else{</php>
         <li <php>if($vo["cid"] == $_GET["cid"]){echo 'class="active"';}elseif($key == 0 && $_GET[cid] == ""){echo 'class="active"';}</php>>{$vo.link}</li>
         <php>}</php>
    </volist>
</ul>
<ul class="navbar-nav pull-right nav">
    <empty name="Think.session.user.head_img" >
        <li class="b-nav-cname b-nav-login">
            <div class="hidden-xs b-login-mobile"></div>
            <a href="javascript:;" onclick="login()">登录</a>
        </li>
        <else />
        <li class="b-user-info">
            <span><img class="b-head_img" src="{$Think.session.user.head_img}" alt="{$Think.session.user.nickname}" title="{$Think.session.user.nickname}"  /></span>
            <span class="b-nickname">{$Think.session.user.nickname}</span>
            <span><a href="javascript:;" onclick="logout()">退出</a></span>
        </li>
    </empty>
</ul>