<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>资讯管理-{:C('siteName')}</title>
        <php>
            $addCss="";
            $addJs="";
            $currentNav ='资讯管理 > 资讯列表';
        </php>
        <include file="Common:intoHead" />
    </head>
    <body>
        <div class="wrap">
            <include file="Common:head" />
            <div class="mainBody">
                <include file="Common:left" />
                <div id="Right">
                    <div class="Item hr">
                        <div class="current">资讯列表</div>
                    </div>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <td>排序</td>
                                <td>栏目名称</td>
                                <td>栏目代码</td>
                                <td>栏目关键词</td>
                                <td>状态</td>
                                <td width="150">操作</td>
                            </tr>
                        </thead>
                        <volist name="list" id="vo">
                            <tr id="{$vo.id}">
                                <td>{$vo.oid}</td>
                                <td>{$vo.name}</td>
                                <td>{$vo.code}</td>
                                <td>{$vo.keywords}</td>
                                <td><php>if($vo["status"] == 1){echo "启用";}else{echo "<font color=\"red\">禁用</font>";}</php></td>
                                <td>[ <a href="__URL__/edit/id/{$vo.id}">编辑 </a> ] [ <a link="{:U('News/del/',array('id'=>$vo['id']))}" href="javascript:void(0)" name="{$vo.title}" class="del">删除 </a> ]</td>
                            </tr>
                        </volist>
                    </table>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <include file="Common:foot" />
        <script type="text/javascript">
            $(function(){
                $(".del").click(function(){
                    var delLink=$(this).attr("link");
                    popup.confirm('你真的打算删除【<b>'+$(this).attr("name")+'</b>】吗?','温馨提示',function(action){
                        if(action == 'ok'){
                            top.window.location.href=delLink;
                        }
                    });
                    return false;
                });
            });
        </script>
    </body>
</html>
