/*#b-public-nav .b-nav-parent .b-nav-mobile {*/
    /*height: 50px;*/
    /*background: none repeat scroll 0% 0% #008CBA;*/
    /*position: absolute;*/
/*}*/
#b-public-nav .b-nav-parent li.active a {
    background: #008CBA;
}
#b-public-nav .navbar-nav li a:hover {
    background: #0080DF;
}
.panel .panel-heading .panel-title {
    font-size: 14px;
    display: inline-block;
}
.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.pagination{
    margin: 0 0 20px 0;
}

.footer {
    padding-bottom: 10px;
    background: none repeat scroll 0% 0% #222;
    color: #9D9D9D;
}
.user {
    text-align: center;
    padding: 45px 0px 0px;
}
.user .stat {
    height: 80px;
    border-top: 1px solid #EEE;
    padding-top: 20px;
}








